
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div>
    <h1 class="text-center">Stupid Coaching</h1>
    <form class="inline text-center" action="/answer" data-turbo="false">
      <label for="question-bar">Ask anything</label>
      <div class="form-group col">
        <input id="question-bar" type="text" name="question">
        <input type="submit" value="Ask" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
